ANTHROPIC_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
APIPERU_TOKEN=
STRIPE_SECRET_KEY=
PIPEDRIVE_API_TOKEN=
PIPEDRIVE_DOMAIN=
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=

# LangSmith Observability
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="agente_tesla"

# LangGraph Postgres Saver (Supabase)
DATABASE_URI="postgresql://postgres:password@db.supabase.co:5432/postgres"
